<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>全国日平均AQI分布图</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china-cities.js"></script>

</head>
<body>
    <div id="8a13bf4ee8d34f9787c053671fcbc8ec" class="chart-container" style="width:1500px; height:700px;"></div>
    <script>
        var chart_8a13bf4ee8d34f9787c053671fcbc8ec = echarts.init(
            document.getElementById('8a13bf4ee8d34f9787c053671fcbc8ec'), 'white', {renderer: 'canvas'});
        var option_8a13bf4ee8d34f9787c053671fcbc8ec = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "name": "\u65e5\u5e73\u5747AQI",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "mapType": "china-cities",
            "data": [
                {
                    "name": "\u5317\u4eac",
                    "value": "34"
                },
                {
                    "name": "\u5929\u6d25",
                    "value": "46"
                },
                {
                    "name": "\u77f3\u5bb6\u5e84",
                    "value": "47"
                },
                {
                    "name": "\u5510\u5c71",
                    "value": "60"
                },
                {
                    "name": "\u79e6\u7687\u5c9b",
                    "value": "49"
                },
                {
                    "name": "\u90af\u90f8",
                    "value": "44"
                },
                {
                    "name": "\u4fdd\u5b9a",
                    "value": "40"
                },
                {
                    "name": "\u5f20\u5bb6\u53e3",
                    "value": "39"
                },
                {
                    "name": "\u627f\u5fb7",
                    "value": "33"
                },
                {
                    "name": "\u5eca\u574a",
                    "value": "48"
                },
                {
                    "name": "\u6ca7\u5dde",
                    "value": "39"
                },
                {
                    "name": "\u8861\u6c34",
                    "value": "41"
                },
                {
                    "name": "\u90a2\u53f0",
                    "value": "42"
                },
                {
                    "name": "\u592a\u539f",
                    "value": "52"
                },
                {
                    "name": "\u547c\u548c\u6d69\u7279",
                    "value": "35"
                },
                {
                    "name": "\u6c88\u9633",
                    "value": "34"
                },
                {
                    "name": "\u5927\u8fde",
                    "value": "30"
                },
                {
                    "name": "\u957f\u6625",
                    "value": "35"
                },
                {
                    "name": "\u54c8\u5c14\u6ee8",
                    "value": "24"
                },
                {
                    "name": "\u4e0a\u6d77",
                    "value": "26"
                },
                {
                    "name": "\u5357\u4eac",
                    "value": "50"
                },
                {
                    "name": "\u82cf\u5dde",
                    "value": "31"
                },
                {
                    "name": "\u5357\u901a",
                    "value": "25"
                },
                {
                    "name": "\u8fde\u4e91\u6e2f",
                    "value": "29"
                },
                {
                    "name": "\u5f90\u5dde",
                    "value": "46"
                },
                {
                    "name": "\u626c\u5dde",
                    "value": "61"
                },
                {
                    "name": "\u65e0\u9521",
                    "value": "38"
                },
                {
                    "name": "\u5e38\u5dde",
                    "value": "51"
                },
                {
                    "name": "\u9547\u6c5f",
                    "value": "63"
                },
                {
                    "name": "\u6cf0\u5dde",
                    "value": "35"
                },
                {
                    "name": "\u6dee\u5b89",
                    "value": "36"
                },
                {
                    "name": "\u76d0\u57ce",
                    "value": "25"
                },
                {
                    "name": "\u5bbf\u8fc1",
                    "value": "44"
                },
                {
                    "name": "\u676d\u5dde",
                    "value": "39"
                },
                {
                    "name": "\u5b81\u6ce2",
                    "value": "23"
                },
                {
                    "name": "\u6e29\u5dde",
                    "value": "46"
                },
                {
                    "name": "\u7ecd\u5174",
                    "value": "28"
                },
                {
                    "name": "\u6e56\u5dde",
                    "value": "34"
                },
                {
                    "name": "\u5609\u5174",
                    "value": "27"
                },
                {
                    "name": "\u53f0\u5dde",
                    "value": "25"
                },
                {
                    "name": "\u821f\u5c71",
                    "value": "21"
                },
                {
                    "name": "\u91d1\u534e",
                    "value": "19"
                },
                {
                    "name": "\u8862\u5dde",
                    "value": "17"
                },
                {
                    "name": "\u4e3d\u6c34",
                    "value": "19"
                },
                {
                    "name": "\u5408\u80a5",
                    "value": "54"
                },
                {
                    "name": "\u798f\u5dde",
                    "value": "35"
                },
                {
                    "name": "\u53a6\u95e8",
                    "value": "27"
                },
                {
                    "name": "\u5357\u660c",
                    "value": "23"
                },
                {
                    "name": "\u6d4e\u5357",
                    "value": "44"
                },
                {
                    "name": "\u9752\u5c9b",
                    "value": "20"
                },
                {
                    "name": "\u90d1\u5dde",
                    "value": "45"
                },
                {
                    "name": "\u6b66\u6c49",
                    "value": "26"
                },
                {
                    "name": "\u957f\u6c99",
                    "value": "24"
                },
                {
                    "name": "\u5e7f\u5dde",
                    "value": "33"
                },
                {
                    "name": "\u6df1\u5733",
                    "value": "29"
                },
                {
                    "name": "\u73e0\u6d77",
                    "value": "25"
                },
                {
                    "name": "\u4f5b\u5c71",
                    "value": "30"
                },
                {
                    "name": "\u4e2d\u5c71",
                    "value": "29"
                },
                {
                    "name": "\u6c5f\u95e8",
                    "value": "33"
                },
                {
                    "name": "\u4e1c\u839e",
                    "value": "30"
                },
                {
                    "name": "\u60e0\u5dde",
                    "value": "29"
                },
                {
                    "name": "\u8087\u5e86",
                    "value": "34"
                },
                {
                    "name": "\u5357\u5b81",
                    "value": "28"
                },
                {
                    "name": "\u6d77\u53e3",
                    "value": "27"
                },
                {
                    "name": "\u91cd\u5e86",
                    "value": "27"
                },
                {
                    "name": "\u6210\u90fd",
                    "value": "49"
                },
                {
                    "name": "\u8d35\u9633",
                    "value": "19"
                },
                {
                    "name": "\u6606\u660e",
                    "value": "15"
                },
                {
                    "name": "\u62c9\u8428",
                    "value": "30"
                },
                {
                    "name": "\u897f\u5b89",
                    "value": "39"
                },
                {
                    "name": "\u5170\u5dde",
                    "value": "45"
                },
                {
                    "name": "\u897f\u5b81",
                    "value": "32"
                },
                {
                    "name": "\u94f6\u5ddd",
                    "value": "47"
                },
                {
                    "name": "\u4e4c\u9c81\u6728\u9f50",
                    "value": "32"
                },
                {
                    "name": "\u6e58\u6f6d",
                    "value": "25"
                },
                {
                    "name": "\u682a\u6d32",
                    "value": "25"
                },
                {
                    "name": "\u5305\u5934",
                    "value": "35"
                },
                {
                    "name": "\u9102\u5c14\u591a\u65af",
                    "value": "45"
                },
                {
                    "name": "\u8425\u53e3",
                    "value": "33"
                },
                {
                    "name": "\u4e39\u4e1c",
                    "value": "23"
                },
                {
                    "name": "\u76d8\u9526",
                    "value": "38"
                },
                {
                    "name": "\u846b\u82a6\u5c9b",
                    "value": "40"
                },
                {
                    "name": "\u6cc9\u5dde",
                    "value": "33"
                },
                {
                    "name": "\u4e34\u6c82",
                    "value": "47"
                },
                {
                    "name": "\u5fb7\u5dde",
                    "value": "40"
                },
                {
                    "name": "\u804a\u57ce",
                    "value": "34"
                },
                {
                    "name": "\u6ee8\u5dde",
                    "value": "52"
                },
                {
                    "name": "\u6dc4\u535a",
                    "value": "42"
                },
                {
                    "name": "\u67a3\u5e84",
                    "value": "45"
                },
                {
                    "name": "\u70df\u53f0",
                    "value": "26"
                },
                {
                    "name": "\u6f4d\u574a",
                    "value": "35"
                },
                {
                    "name": "\u6d4e\u5b81",
                    "value": "39"
                },
                {
                    "name": "\u6cf0\u5b89",
                    "value": "50"
                },
                {
                    "name": "\u65e5\u7167",
                    "value": "26"
                },
                {
                    "name": "\u5a01\u6d77",
                    "value": "28"
                },
                {
                    "name": "\u4e1c\u8425",
                    "value": "43"
                },
                {
                    "name": "\u97f6\u5173",
                    "value": "30"
                },
                {
                    "name": "\u6c55\u5934",
                    "value": "27"
                },
                {
                    "name": "\u6e5b\u6c5f",
                    "value": "32"
                },
                {
                    "name": "\u8302\u540d",
                    "value": "37"
                },
                {
                    "name": "\u6885\u5dde",
                    "value": "28"
                },
                {
                    "name": "\u6c55\u5c3e",
                    "value": "30"
                },
                {
                    "name": "\u6cb3\u6e90",
                    "value": "32"
                },
                {
                    "name": "\u9633\u6c5f",
                    "value": "32"
                },
                {
                    "name": "\u6e05\u8fdc",
                    "value": "32"
                },
                {
                    "name": "\u6f6e\u5dde",
                    "value": "33"
                },
                {
                    "name": "\u63ed\u9633",
                    "value": "30"
                },
                {
                    "name": "\u4e91\u6d6e",
                    "value": "32"
                },
                {
                    "name": "\u7389\u6eaa",
                    "value": "13"
                },
                {
                    "name": "\u83cf\u6cfd",
                    "value": "41"
                },
                {
                    "name": "\u5927\u540c",
                    "value": "45"
                },
                {
                    "name": "\u957f\u6cbb",
                    "value": "36"
                },
                {
                    "name": "\u4e34\u6c7e",
                    "value": "39"
                },
                {
                    "name": "\u9633\u6cc9",
                    "value": "49"
                },
                {
                    "name": "\u8d64\u5cf0",
                    "value": "35"
                },
                {
                    "name": "\u978d\u5c71",
                    "value": "34"
                },
                {
                    "name": "\u629a\u987a",
                    "value": "32"
                },
                {
                    "name": "\u672c\u6eaa",
                    "value": "27"
                },
                {
                    "name": "\u9526\u5dde",
                    "value": "40"
                },
                {
                    "name": "\u5409\u6797",
                    "value": "23"
                },
                {
                    "name": "\u9f50\u9f50\u54c8\u5c14",
                    "value": "23"
                },
                {
                    "name": "\u7261\u4e39\u6c5f",
                    "value": "22"
                },
                {
                    "name": "\u5927\u5e86",
                    "value": "26"
                },
                {
                    "name": "\u829c\u6e56",
                    "value": "42"
                },
                {
                    "name": "\u9a6c\u978d\u5c71",
                    "value": "46"
                },
                {
                    "name": "\u4e5d\u6c5f",
                    "value": "14"
                },
                {
                    "name": "\u6d1b\u9633",
                    "value": "40"
                },
                {
                    "name": "\u5b89\u9633",
                    "value": "42"
                },
                {
                    "name": "\u5f00\u5c01",
                    "value": "42"
                },
                {
                    "name": "\u7126\u4f5c",
                    "value": "41"
                },
                {
                    "name": "\u5e73\u9876\u5c71",
                    "value": "54"
                },
                {
                    "name": "\u4e09\u95e8\u5ce1",
                    "value": "37"
                },
                {
                    "name": "\u5b9c\u660c",
                    "value": "41"
                },
                {
                    "name": "\u8346\u5dde",
                    "value": "28"
                },
                {
                    "name": "\u5cb3\u9633",
                    "value": "16"
                },
                {
                    "name": "\u5e38\u5fb7",
                    "value": "21"
                },
                {
                    "name": "\u5f20\u5bb6\u754c",
                    "value": "30"
                },
                {
                    "name": "\u6842\u6797",
                    "value": "28"
                },
                {
                    "name": "\u5317\u6d77",
                    "value": "30"
                },
                {
                    "name": "\u67f3\u5dde",
                    "value": "26"
                },
                {
                    "name": "\u4e09\u4e9a",
                    "value": "27"
                },
                {
                    "name": "\u7ef5\u9633",
                    "value": "48"
                },
                {
                    "name": "\u5b9c\u5bbe",
                    "value": "40"
                },
                {
                    "name": "\u6500\u679d\u82b1",
                    "value": "30"
                },
                {
                    "name": "\u6cf8\u5dde",
                    "value": "24"
                },
                {
                    "name": "\u81ea\u8d21",
                    "value": "37"
                },
                {
                    "name": "\u5fb7\u9633",
                    "value": "48"
                },
                {
                    "name": "\u5357\u5145",
                    "value": "34"
                },
                {
                    "name": "\u9075\u4e49",
                    "value": "14"
                },
                {
                    "name": "\u66f2\u9756",
                    "value": "23"
                },
                {
                    "name": "\u54b8\u9633",
                    "value": "41"
                },
                {
                    "name": "\u94dc\u5ddd",
                    "value": "37"
                },
                {
                    "name": "\u5ef6\u5b89",
                    "value": "40"
                },
                {
                    "name": "\u5b9d\u9e21",
                    "value": "37"
                },
                {
                    "name": "\u6e2d\u5357",
                    "value": "41"
                },
                {
                    "name": "\u91d1\u660c",
                    "value": "45"
                },
                {
                    "name": "\u5609\u5cea\u5173",
                    "value": "36"
                },
                {
                    "name": "\u77f3\u5634\u5c71",
                    "value": "51"
                },
                {
                    "name": "\u514b\u62c9\u739b\u4f9d",
                    "value": "29"
                },
                {
                    "name": "\u5df4\u97f3\u90ed\u695e\u5dde",
                    "value": "40"
                },
                {
                    "name": "\u5bff\u5149",
                    "value": "37"
                },
                {
                    "name": "\u7ae0\u4e18",
                    "value": "49"
                },
                {
                    "name": "\u5373\u58a8",
                    "value": "23"
                },
                {
                    "name": "\u80f6\u5357",
                    "value": "24"
                },
                {
                    "name": "\u80f6\u5dde",
                    "value": "25"
                },
                {
                    "name": "\u83b1\u897f",
                    "value": "32"
                },
                {
                    "name": "\u5e73\u5ea6",
                    "value": "34"
                },
                {
                    "name": "\u84ec\u83b1",
                    "value": "0"
                },
                {
                    "name": "\u62db\u8fdc",
                    "value": "29"
                },
                {
                    "name": "\u83b1\u5dde",
                    "value": "32"
                },
                {
                    "name": "\u8363\u6210",
                    "value": "24"
                },
                {
                    "name": "\u6587\u767b",
                    "value": "24"
                },
                {
                    "name": "\u4e73\u5c71",
                    "value": "22"
                },
                {
                    "name": "\u5434\u6c5f",
                    "value": "31"
                },
                {
                    "name": "\u6606\u5c71",
                    "value": "34"
                },
                {
                    "name": "\u5e38\u719f",
                    "value": "33"
                },
                {
                    "name": "\u5f20\u5bb6\u6e2f",
                    "value": "31"
                },
                {
                    "name": "\u592a\u4ed3",
                    "value": "30"
                },
                {
                    "name": "\u53e5\u5bb9",
                    "value": "55"
                },
                {
                    "name": "\u6c5f\u9634",
                    "value": "43"
                },
                {
                    "name": "\u5b9c\u5174",
                    "value": "32"
                },
                {
                    "name": "\u91d1\u575b",
                    "value": "44"
                },
                {
                    "name": "\u6ea7\u9633",
                    "value": "38"
                },
                {
                    "name": "\u6d77\u95e8",
                    "value": "25"
                },
                {
                    "name": "\u4e34\u5b89",
                    "value": "40"
                },
                {
                    "name": "\u5bcc\u9633",
                    "value": "34"
                },
                {
                    "name": "\u4e49\u4e4c",
                    "value": "22"
                },
                {
                    "name": "\u8bf8\u66a8",
                    "value": "16"
                },
                {
                    "name": "\u74e6\u623f\u5e97",
                    "value": "0"
                },
                {
                    "name": "\u4fe1\u9633",
                    "value": "42"
                },
                {
                    "name": "\u5468\u53e3",
                    "value": "58"
                },
                {
                    "name": "\u6f33\u5dde",
                    "value": "31"
                },
                {
                    "name": "\u664b\u57ce",
                    "value": "39"
                },
                {
                    "name": "\u6714\u5dde",
                    "value": "51"
                },
                {
                    "name": "\u664b\u4e2d",
                    "value": "42"
                },
                {
                    "name": "\u8fd0\u57ce",
                    "value": "38"
                },
                {
                    "name": "\u5ffb\u5dde",
                    "value": "55"
                },
                {
                    "name": "\u5415\u6881",
                    "value": "48"
                },
                {
                    "name": "\u4e4c\u6d77",
                    "value": "49"
                },
                {
                    "name": "\u901a\u8fbd",
                    "value": "41"
                },
                {
                    "name": "\u547c\u4f26\u8d1d\u5c14",
                    "value": "22"
                },
                {
                    "name": "\u5df4\u5f66\u6dd6\u5c14",
                    "value": "42"
                },
                {
                    "name": "\u4e4c\u5170\u5bdf\u5e03",
                    "value": "37"
                },
                {
                    "name": "\u5174\u5b89\u76df",
                    "value": "31"
                },
                {
                    "name": "\u9521\u6797\u90ed\u52d2\u76df",
                    "value": "23"
                },
                {
                    "name": "\u963f\u62c9\u5584\u76df",
                    "value": "39"
                },
                {
                    "name": "\u961c\u65b0",
                    "value": "39"
                },
                {
                    "name": "\u8fbd\u9633",
                    "value": "30"
                },
                {
                    "name": "\u94c1\u5cad",
                    "value": "33"
                },
                {
                    "name": "\u671d\u9633",
                    "value": "37"
                },
                {
                    "name": "\u56db\u5e73",
                    "value": "36"
                },
                {
                    "name": "\u8fbd\u6e90",
                    "value": "29"
                },
                {
                    "name": "\u901a\u5316",
                    "value": "29"
                },
                {
                    "name": "\u767d\u5c71",
                    "value": "28"
                },
                {
                    "name": "\u677e\u539f",
                    "value": "35"
                },
                {
                    "name": "\u767d\u57ce",
                    "value": "33"
                },
                {
                    "name": "\u5ef6\u8fb9\u671d\u9c9c\u65cf\u81ea\u6cbb\u5dde",
                    "value": "17"
                },
                {
                    "name": "\u9e21\u897f",
                    "value": "17"
                },
                {
                    "name": "\u9e64\u5c97",
                    "value": "13"
                },
                {
                    "name": "\u53cc\u9e2d\u5c71",
                    "value": "11"
                },
                {
                    "name": "\u4f0a\u6625",
                    "value": "13"
                },
                {
                    "name": "\u4f73\u6728\u65af",
                    "value": "10"
                },
                {
                    "name": "\u4e03\u53f0\u6cb3",
                    "value": "17"
                },
                {
                    "name": "\u9ed1\u6cb3",
                    "value": "12"
                },
                {
                    "name": "\u7ee5\u5316",
                    "value": "12"
                },
                {
                    "name": "\u5927\u5174\u5b89\u5cad\u5730\u533a",
                    "value": "19"
                },
                {
                    "name": "\u868c\u57e0",
                    "value": "62"
                },
                {
                    "name": "\u6dee\u5357",
                    "value": "62"
                },
                {
                    "name": "\u6dee\u5317",
                    "value": "42"
                },
                {
                    "name": "\u94dc\u9675",
                    "value": "37"
                },
                {
                    "name": "\u5b89\u5e86",
                    "value": "16"
                },
                {
                    "name": "\u9ec4\u5c71",
                    "value": "13"
                },
                {
                    "name": "\u6ec1\u5dde",
                    "value": "57"
                },
                {
                    "name": "\u961c\u9633",
                    "value": "53"
                },
                {
                    "name": "\u5bbf\u5dde",
                    "value": "48"
                },
                {
                    "name": "\u516d\u5b89",
                    "value": "53"
                },
                {
                    "name": "\u4eb3\u5dde",
                    "value": "58"
                },
                {
                    "name": "\u6c60\u5dde",
                    "value": "19"
                },
                {
                    "name": "\u5ba3\u57ce",
                    "value": "38"
                },
                {
                    "name": "\u8386\u7530",
                    "value": "38"
                },
                {
                    "name": "\u4e09\u660e",
                    "value": "40"
                },
                {
                    "name": "\u5357\u5e73",
                    "value": "26"
                },
                {
                    "name": "\u9f99\u5ca9",
                    "value": "26"
                },
                {
                    "name": "\u5b81\u5fb7",
                    "value": "36"
                },
                {
                    "name": "\u666f\u5fb7\u9547",
                    "value": "17"
                },
                {
                    "name": "\u840d\u4e61",
                    "value": "20"
                },
                {
                    "name": "\u65b0\u4f59",
                    "value": "31"
                },
                {
                    "name": "\u9e70\u6f6d",
                    "value": "29"
                },
                {
                    "name": "\u8d63\u5dde",
                    "value": "28"
                },
                {
                    "name": "\u5409\u5b89",
                    "value": "24"
                },
                {
                    "name": "\u5b9c\u6625",
                    "value": "26"
                },
                {
                    "name": "\u629a\u5dde",
                    "value": "28"
                },
                {
                    "name": "\u4e0a\u9976",
                    "value": "24"
                },
                {
                    "name": "\u9e64\u58c1",
                    "value": "39"
                },
                {
                    "name": "\u65b0\u4e61",
                    "value": "44"
                },
                {
                    "name": "\u6fee\u9633",
                    "value": "36"
                },
                {
                    "name": "\u8bb8\u660c",
                    "value": "55"
                },
                {
                    "name": "\u6f2f\u6cb3",
                    "value": "65"
                },
                {
                    "name": "\u5357\u9633",
                    "value": "55"
                },
                {
                    "name": "\u5546\u4e18",
                    "value": "54"
                },
                {
                    "name": "\u9a7b\u9a6c\u5e97",
                    "value": "62"
                },
                {
                    "name": "\u9ec4\u77f3",
                    "value": "25"
                },
                {
                    "name": "\u5341\u5830",
                    "value": "43"
                },
                {
                    "name": "\u8944\u9633",
                    "value": "47"
                },
                {
                    "name": "\u9102\u5dde",
                    "value": "29"
                },
                {
                    "name": "\u8346\u95e8",
                    "value": "31"
                },
                {
                    "name": "\u5b5d\u611f",
                    "value": "28"
                },
                {
                    "name": "\u9ec4\u5188",
                    "value": "32"
                },
                {
                    "name": "\u54b8\u5b81",
                    "value": "17"
                },
                {
                    "name": "\u968f\u5dde",
                    "value": "39"
                },
                {
                    "name": "\u6069\u65bd\u571f\u5bb6\u65cf\u82d7\u65cf\u81ea\u6cbb\u5dde",
                    "value": "33"
                },
                {
                    "name": "\u8861\u9633",
                    "value": "30"
                },
                {
                    "name": "\u90b5\u9633",
                    "value": "27"
                },
                {
                    "name": "\u76ca\u9633",
                    "value": "17"
                },
                {
                    "name": "\u90f4\u5dde",
                    "value": "19"
                },
                {
                    "name": "\u6c38\u5dde",
                    "value": "29"
                },
                {
                    "name": "\u6000\u5316",
                    "value": "22"
                },
                {
                    "name": "\u5a04\u5e95",
                    "value": "23"
                },
                {
                    "name": "\u6e58\u897f\u5dde",
                    "value": "16"
                },
                {
                    "name": "\u68a7\u5dde",
                    "value": "41"
                },
                {
                    "name": "\u9632\u57ce\u6e2f",
                    "value": "29"
                },
                {
                    "name": "\u94a6\u5dde",
                    "value": "30"
                },
                {
                    "name": "\u8d35\u6e2f",
                    "value": "35"
                },
                {
                    "name": "\u7389\u6797",
                    "value": "36"
                },
                {
                    "name": "\u767e\u8272",
                    "value": "44"
                },
                {
                    "name": "\u8d3a\u5dde",
                    "value": "31"
                },
                {
                    "name": "\u6cb3\u6c60",
                    "value": "31"
                },
                {
                    "name": "\u6765\u5bbe",
                    "value": "35"
                },
                {
                    "name": "\u5d07\u5de6",
                    "value": "37"
                },
                {
                    "name": "\u5e7f\u5143",
                    "value": "32"
                },
                {
                    "name": "\u9042\u5b81",
                    "value": "29"
                },
                {
                    "name": "\u5185\u6c5f",
                    "value": "29"
                },
                {
                    "name": "\u4e50\u5c71",
                    "value": "48"
                },
                {
                    "name": "\u7709\u5c71",
                    "value": "40"
                },
                {
                    "name": "\u5e7f\u5b89",
                    "value": "28"
                },
                {
                    "name": "\u8fbe\u5dde",
                    "value": "52"
                },
                {
                    "name": "\u96c5\u5b89",
                    "value": "23"
                },
                {
                    "name": "\u5df4\u4e2d",
                    "value": "32"
                },
                {
                    "name": "\u8d44\u9633",
                    "value": "30"
                },
                {
                    "name": "\u963f\u575d\u85cf\u65cf\u7f8c\u65cf\u81ea\u6cbb\u5dde",
                    "value": "24"
                },
                {
                    "name": "\u7518\u5b5c\u5dde",
                    "value": "0"
                },
                {
                    "name": "\u7518\u5b5c\u85cf\u65cf\u81ea\u6cbb\u5dde",
                    "value": "20"
                },
                {
                    "name": "\u51c9\u5c71\u5f5d\u65cf\u81ea\u6cbb\u5dde",
                    "value": "33"
                },
                {
                    "name": "\u516d\u76d8\u6c34",
                    "value": "26"
                },
                {
                    "name": "\u5b89\u987a",
                    "value": "23"
                },
                {
                    "name": "\u94dc\u4ec1\u5730\u533a",
                    "value": "16"
                },
                {
                    "name": "\u6bd5\u8282",
                    "value": "28"
                },
                {
                    "name": "\u9ed4\u897f\u5357\u5e03\u4f9d\u65cf\u82d7\u65cf\u81ea\u6cbb\u5dde",
                    "value": "21"
                },
                {
                    "name": "\u9ed4\u4e1c\u5357\u82d7\u65cf\u4f97\u65cf\u81ea\u6cbb\u5dde",
                    "value": "11"
                },
                {
                    "name": "\u9ed4\u4e1c\u5357\u5dde",
                    "value": "0"
                },
                {
                    "name": "\u9ed4\u5357\u5e03\u4f9d\u65cf\u82d7\u65cf\u81ea\u6cbb\u5dde",
                    "value": "11"
                },
                {
                    "name": "\u4fdd\u5c71",
                    "value": "22"
                },
                {
                    "name": "\u662d\u901a",
                    "value": "33"
                },
                {
                    "name": "\u4e3d\u6c5f",
                    "value": "15"
                },
                {
                    "name": "\u666e\u6d31",
                    "value": "12"
                },
                {
                    "name": "\u4e34\u6ca7",
                    "value": "26"
                },
                {
                    "name": "\u695a\u96c4\u5dde",
                    "value": "16"
                },
                {
                    "name": "\u7ea2\u6cb3\u5dde",
                    "value": "14"
                },
                {
                    "name": "\u6587\u5c71\u5dde",
                    "value": "11"
                },
                {
                    "name": "\u897f\u53cc\u7248\u7eb3\u5dde",
                    "value": "12"
                },
                {
                    "name": "\u5927\u7406\u5dde",
                    "value": "14"
                },
                {
                    "name": "\u5fb7\u5b8f\u5dde",
                    "value": "28"
                },
                {
                    "name": "\u6012\u6c5f\u5dde",
                    "value": "21"
                },
                {
                    "name": "\u8fea\u5e86\u5dde",
                    "value": "16"
                },
                {
                    "name": "\u660c\u90fd",
                    "value": "31"
                },
                {
                    "name": "\u5c71\u5357",
                    "value": "23"
                },
                {
                    "name": "\u65e5\u5580\u5219",
                    "value": "33"
                },
                {
                    "name": "\u90a3\u66f2\u5730\u533a",
                    "value": "36"
                },
                {
                    "name": "\u90a3\u66f2",
                    "value": "0"
                },
                {
                    "name": "\u963f\u91cc\u5730\u533a",
                    "value": "47"
                },
                {
                    "name": "\u6797\u829d",
                    "value": "13"
                },
                {
                    "name": "\u6c49\u4e2d",
                    "value": "40"
                },
                {
                    "name": "\u6986\u6797",
                    "value": "54"
                },
                {
                    "name": "\u5b89\u5eb7",
                    "value": "37"
                },
                {
                    "name": "\u5546\u6d1b",
                    "value": "39"
                },
                {
                    "name": "\u767d\u94f6",
                    "value": "33"
                },
                {
                    "name": "\u5929\u6c34",
                    "value": "34"
                },
                {
                    "name": "\u6b66\u5a01",
                    "value": "46"
                },
                {
                    "name": "\u5f20\u6396",
                    "value": "38"
                },
                {
                    "name": "\u5e73\u51c9",
                    "value": "30"
                },
                {
                    "name": "\u9152\u6cc9",
                    "value": "47"
                },
                {
                    "name": "\u5e86\u9633",
                    "value": "35"
                },
                {
                    "name": "\u5b9a\u897f",
                    "value": "35"
                },
                {
                    "name": "\u9647\u5357",
                    "value": "29"
                },
                {
                    "name": "\u4e34\u590f\u56de\u65cf\u81ea\u6cbb\u5dde",
                    "value": "37"
                },
                {
                    "name": "\u7518\u5357\u5dde",
                    "value": "32"
                },
                {
                    "name": "\u6d77\u4e1c\u5730\u533a",
                    "value": "36"
                },
                {
                    "name": "\u6d77\u5317\u85cf\u65cf\u81ea\u6cbb\u5dde",
                    "value": "31"
                },
                {
                    "name": "\u9ec4\u5357\u85cf\u65cf\u81ea\u6cbb\u5dde",
                    "value": "33"
                },
                {
                    "name": "\u6d77\u5357\u85cf\u65cf\u81ea\u6cbb\u5dde",
                    "value": "34"
                },
                {
                    "name": "\u679c\u6d1b\u85cf\u65cf\u81ea\u6cbb\u5dde",
                    "value": "35"
                },
                {
                    "name": "\u7389\u6811\u85cf\u65cf\u81ea\u6cbb\u5dde",
                    "value": "23"
                },
                {
                    "name": "\u6d77\u897f\u8499\u53e4\u65cf\u85cf\u65cf\u81ea\u6cbb\u5dde",
                    "value": "35"
                },
                {
                    "name": "\u5434\u5fe0",
                    "value": "51"
                },
                {
                    "name": "\u4e2d\u536b",
                    "value": "48"
                },
                {
                    "name": "\u56fa\u539f",
                    "value": "34"
                },
                {
                    "name": "\u5410\u9c81\u756a\u5730\u533a",
                    "value": "45"
                },
                {
                    "name": "\u54c8\u5bc6\u5730\u533a",
                    "value": "44"
                },
                {
                    "name": "\u660c\u5409\u5dde",
                    "value": "34"
                },
                {
                    "name": "\u535a\u5c14\u5854\u62c9\u8499\u53e4\u81ea\u6cbb\u5dde",
                    "value": "37"
                },
                {
                    "name": "\u963f\u514b\u82cf\u5730\u533a",
                    "value": "68"
                },
                {
                    "name": "\u514b\u5b5c\u52d2\u82cf\u67ef\u5c14\u514b\u5b5c\u81ea\u6cbb\u5dde",
                    "value": "55"
                },
                {
                    "name": "\u5580\u4ec0\u5730\u533a",
                    "value": "65"
                },
                {
                    "name": "\u548c\u7530\u5730\u533a",
                    "value": "126"
                },
                {
                    "name": "\u4f0a\u7281\u54c8\u8428\u514b\u5dde",
                    "value": "47"
                },
                {
                    "name": "\u5854\u57ce\u5730\u533a",
                    "value": "24"
                },
                {
                    "name": "\u963f\u52d2\u6cf0\u5730\u533a",
                    "value": "22"
                },
                {
                    "name": "\u77f3\u6cb3\u5b50",
                    "value": "33"
                },
                {
                    "name": "\u4e94\u5bb6\u6e20",
                    "value": "39"
                },
                {
                    "name": "\u4e09\u6c99",
                    "value": "0"
                },
                {
                    "name": "\u5170\u5dde\u65b0\u533a",
                    "value": "36"
                },
                {
                    "name": "\u8d63\u6c5f\u65b0\u533a",
                    "value": "35"
                },
                {
                    "name": "\u510b\u5dde",
                    "value": "24"
                },
                {
                    "name": "\u96c4\u5b89\u65b0\u533a",
                    "value": "49"
                },
                {
                    "name": "\u897f\u54b8\u65b0\u533a",
                    "value": "38"
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "mapValueCalculation": "sum",
            "showLegendSymbol": false,
            "emphasis": {},
            "xAxisIndex": 0,
            "yAxisIndex": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u65e5\u5e73\u5747AQI"
            ],
            "selected": {
                "\u65e5\u5e73\u5747AQI": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u5168\u56fd20210701\u65e5\u5e73\u5747AQI\u5206\u5e03\u56fe",
            "subtext": "\u539f\u59cb\u6570\u636e\u6765\u6e90:\u5168\u56fd\u57ce\u5e02\u7a7a\u6c14\u8d28\u91cf\u5b9e\u65f6\u53d1\u5e03\u5e73\u53f0",
            "sublink": "https://quotsoft.net/air/",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 150,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    },
    "grid": [
        {
            "show": false,
            "zlevel": 0,
            "z": 2,
            "left": "10%",
            "top": "10%",
            "right": "10%",
            "bottom": "10%",
            "containLabel": false,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1
        }
    ]
};
        chart_8a13bf4ee8d34f9787c053671fcbc8ec.setOption(option_8a13bf4ee8d34f9787c053671fcbc8ec);
    </script>
</body>
</html>
